.border{
    border:1px solid ;
    border-radius:0.5px;
    margin: 10px;
}

.btn{
    margin-top: 22px;
}


.heading{
    font-size: 20px;
    padding-top: 10px;
}


.address{
    padding: 10px 0px 0px 10px;
    color:#000
}

h4{
    padding-left: 7px;
}

.mt-20{
    margin-top: 20px;
}
h3{
    padding: 10px;
}

.Mt-2{
    margin-top:2px
}
.image{

     border-radius:6px
}
.nowrap{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color:#000;
}
.pricing{
    color: #ff3200;
    font-size: 18px;
    padding-right: 4px;
}
.icon{
    margin-top:-3px
}
.col{
    display:flex;
    justify-content: center;
    align-items: center
}
.color{
    color:#a8a3a1
}
.btn{
    text-transform: none;
    color: var(--ion-color-dark-tint)
}
.save{
    color: #000000;
    font-size: 18px;
}
.pad{
    padding:10px
}
.data{
    padding:10px;
    color:#ff3200;
    font-size: 18px;
}
.chbtn{
   margin: 10px;
}
.image{
    height: 70px;
    width: 100%;
}
.padding-left{
    padding: 10px 10px 0px 15px;
}
.btn-continue{
    bottom: 0px;
    position: absolute;
    width: 99%;
    margin-bottom: 3px;
    height: 50px;
}
.font-size{
  font-size:15px;
}
