<ion-header>
  <app-header [data]="headerTitle"></app-header>
</ion-header>

<ion-content>
  <div *ngIf="cartItems.length===0">
    <img src="../../assets/image/sh.jpeg">
    <h5 class="cartemp">Cart is Empty..!</h5>
    <p class="emp">you have no items added in the cart.</p>
    <div class="addButton">
      <ion-button shape=round color='primary' (click)="addItems()">Add Items</ion-button>
    </div>
  </div>
  <div *ngIf="cartItems.length>0">
    <ion-item-sliding *ngFor="let item of cartItems">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src={{item.image}} class="image" onerror="this.onerror=null;this.src='assets/image/noImage.jpeg';">
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <span class="nowrap"> {{ item.name }} </span><br>
          <span *ngIf="item.discounted_price==='0'" class="del"> {{item.actual_price |currency:'INR'}}</span>
          <span *ngIf="item.discounted_price!=='0'" class="del"> {{item.actual_price-item.discounted_price|
            currency:'INR'}}</span>
          <span>
            <span *ngIf="item.discounted_price!=='0'"> <del> {{item.actual_price | currency:'INR'}}</del></span>
          </span>
          <div *ngIf="item.discounted_price!=='0' "> save{{item.discounted_price | currency:'INR'}}</div>
        </ion-label>


        <ion-row *ngIf="item.qty>0">
          <ion-col class="ion-align-self-start" size="5">
            <ion-icon (click)="addItem(item)" class="color" name="add"></ion-icon>
          </ion-col>

          <ion-col *ngIf="item.qty" class="ion-align-self-center" class="col" size="3">
            {{item.qty}}
          </ion-col>

          <ion-col class="ion-align-self-end" size="4">
            <ion-icon (click)="removeItem(item)" class="color" name="remove"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="deleteItem(item)" expandable>
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-grid>
      <ion-row class="dotted">
        <ion-col size="6">
          <p class="total">TOTAL </p>
        </ion-col>
        <ion-col class="ion-text-end price" size="6">
          <p>{{total()|currency:"INR"}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div>
       <ion-button (click)="navigateToPayment()" class="btn-c" expand="block" color="primary" >Procced to Payment</ion-button>

    </div>
  </div>
</ion-content>

