
h5,h4{
    padding-left: 10px;
}

.img-slider{
    height:200px;
}

.btn {
   padding : 0 25px 0 25px
}



.del{
    color: mediumvioletred;
}
.About{
    color:mediumvioletred
}

.sub{
  color:mediumvioletred;
    font-size: 17px;
    padding: 0 10px 0 10px;

}
.color{
    color: #ff3200
}

#notification {
    background-color:#000;
    position: absolute;
   top:0px;
    right: -6px;
    border-radius: 100%;
  }
  .cart{
      font-size:25px;
      margin: 10px;
  }
  .description{
    text-align: justify;
    padding: 0 13px 0 13px;
    line-height: 24px;
  }

  .price{

    color: #ff3200
  }
  .cart-button{
    margin-top: -6px;
  }
  .act{
    padding-left: 9px;
  }
  .save{
    margin-top: -5px;
    color: #776561
  }
  .word-spacing{
    word-spacing: 6px;
  }
  .btn-c {
    position: fixed;
    left: 0;
    bottom: 0px;
    right: 0;
  }
