.color{
    color:#ff3200
}
.add{
    margin:  0px 25px 5px 25px;
    height:30px
}
h4{
    padding: 10px;
}
.submitbtn{
  margin:  0px 25px 5px 25px
}
.icon{
    margin-top: -4px;
}
.border{
    border:1px solid ;
    border-radius:0.5px;
    margin: 10px;
}
.btn{
    margin-top: 22px;

}


.heading{
    font-size: 20px;
   
    padding-top: 10px;

}


.address{
    padding: 10px 0px 0px 10px;
    color:#000
}
h4{
    padding-left: 7px;
}
.mt-20{
    margin-top: 20px;
}
h3{
    padding: 10px;
   
}
